.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.contenido {
   margin: auto;
   padding: 20px;
   min-height: 800px;
}

.footer-basic {
  width: 100%;
}

#menu-button {
  position: fixed;
  bottom: 0px;
  align-items: center;
  margin-left: 10%;
}
